.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h2 {
    font-size: 36px;
}
@media screen and (max-width: 420px) {
    .container {
        background-color: grey;
        
    }
    h2::before {
        content: 'Cinza';
      }
    #colorName {
        color: white;
    }
}
 
@media screen and (min-width: 421px) and (max-width: 768px) {
    .container {
        background-color: orange;
    }
    h2::before {
        content: 'Laranja';
      }
    #colorName {
        color: white;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        background-color: pink;
    }
    h2::before {
        content: 'Rosa';
      }
    #colorName {
        color: white;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1080px) {
    .container {
        background-color: red;
    }
    h2::before {
        content: 'Vermelho';
      }
    #colorName {
        color: white;
    }
}


@media screen and (min-width: 1081px) and (max-width: 1366px) {
    .container {
        background-color: purple;
    }
    h2::before {
        content: 'Roxo';
      }
    #colorName {
        color: white;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .container {
        background-color: yellow;
    }
    h2::before {
        content: 'Amarelo';
      }
    #colorName {
        color: white;
    }
}
 
@media screen and (min-width: 1921px)  {
    .container {
        background-color: green;
    }
    h2::before {
        content: 'Verde';
      }
    #colorName {
        color: white;
    }
}


 
@media screen and (min-width: 1921px) {
    .container {
        background-color: green;
    }
    h2::before {
        content: 'Verde';
      }
    #colorName {
        color: white;
    }
}

