body{
    background-color: rgb(8, 49, 110)
}

#janela {
    width: 500px;
    height: 400px;
    background-image: url('img/janelafechada.png');
    background-size: cover;
    cursor: pointer;
    position: relative;
    align-items: center;
  }